@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400;1,700;1,900&display=swap');

h1{
    color: blue;
    text-align: center;
    font-size: 45px;
    font-family: 'Lato', sans-serif;
}